@charset "UTF-8";
/*
BlankSlate WordPress Theme ┬⌐ 2011-2014 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clear {
  clear: both; }

/* mixins */
body > header, body > footer, body > main section {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px; }

body .alt-color a {
  color: #8b84a0; }
  body .alt-color a:hover, body .alt-color a:active {
    border-color: #8b84a0; }
body .alt-color h1, body .alt-color h3, body .alt-color li:before {
  color: #8b84a0; }
body .alt-color .divider::before {
  background: #8b84a0; }
body .alt-color .divider svg path {
  fill: #8b84a0; }

body .alt-color-2 a {
  color: #db8f5d; }
  body .alt-color-2 a:hover, body .alt-color-2 a:active {
    border-color: #db8f5d; }
body .alt-color-2 h1, body .alt-color-2 h3, body .alt-color-2 li:before {
  color: #db8f5d; }
body .alt-color-2 blockquote {
  border-color: #db8f5d; }
  body .alt-color-2 blockquote:before {
    background-image: url(images/quote-orange.svg); }

body .alt-background-2, body .bright-background, body .dark-background, body .alt-background {
  background-color: #8b84a0;
  color: #fff; }
  body .alt-background-2 a, body .bright-background a, body .dark-background a, body .alt-background a {
    color: #f7f4f0; }
    body .alt-background-2 a svg path, body .bright-background a svg path, body .dark-background a svg path, body .alt-background a svg path {
      fill: #f7f4f0; }
    body .alt-background-2 a:hover, body .bright-background a:hover, body .dark-background a:hover, body .alt-background a:hover, body .alt-background-2 a:active, body .bright-background a:active, body .dark-background a:active, body .alt-background a:active {
      color: #fff;
      border-color: #f7f4f0; }
      body .alt-background-2 a:hover svg path, body .bright-background a:hover svg path, body .dark-background a:hover svg path, body .alt-background a:hover svg path, body .alt-background-2 a:active svg path, body .bright-background a:active svg path, body .dark-background a:active svg path, body .alt-background a:active svg path {
        fill: #fff; }
  body .alt-background-2 h1, body .bright-background h1, body .dark-background h1, body .alt-background h1, body .alt-background-2 h3, body .bright-background h3, body .dark-background h3, body .alt-background h3 {
    color: #f7f4f0; }
  body .alt-background-2 h2, body .bright-background h2, body .dark-background h2, body .alt-background h2, body .alt-background-2 h4, body .bright-background h4, body .dark-background h4, body .alt-background h4, body .alt-background-2 li:before, body .bright-background li:before, body .dark-background li:before, body .alt-background li:before {
    color: #f7f4f0; }
  body .alt-background-2 hr, body .bright-background hr, body .dark-background hr, body .alt-background hr {
    border-top: none; }
  body .alt-background-2 blockquote, body .bright-background blockquote, body .dark-background blockquote, body .alt-background blockquote {
    border-color: #f7f4f0; }
    body .alt-background-2 blockquote:before, body .bright-background blockquote:before, body .dark-background blockquote:before, body .alt-background blockquote:before {
      background-color: #64999F;
      background-image: url(images/quote-alt.svg); }

body .alt-background-2 {
  background-color: #db8f5d; }

body .bright-background {
  background-color: #64999F;
  background-image: url(images/yantra.png); }

body .dark-background {
  background-color: #45414c; }

body .soft-background {
  background: -webkit-linear-gradient(rgba(196, 230, 234, 0.5), rgba(247, 244, 240, 0.9), rgba(138, 131, 159, 0.5));
  background: -o-linear-gradient(rgba(196, 230, 234, 0.5), rgba(247, 244, 240, 0.9), rgba(138, 131, 159, 0.5));
  background: -moz-linear-gradient(rgba(196, 230, 234, 0.5), rgba(247, 244, 240, 0.9), rgba(138, 131, 159, 0.5));
  background: linear-gradient(rgba(196, 230, 234, 0.5), rgba(247, 244, 240, 0.9), rgba(138, 131, 159, 0.5)); }

body .gradient-background {
  background: -webkit-linear-gradient(left bottom, #8b84a0, #c2edef);
  background: -o-linear-gradient(top right, #8b84a0, #c2edef);
  background: -moz-linear-gradient(top right, #8b84a0, #c2edef);
  background: linear-gradient(to top right, #8b84a0, #c2edef); }

body .hero, body .texture-background {
  width: 100%;
  z-index: 100;
  overflow: hidden;
  position: relative;
  background: url(images/textures.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }
  body .hero::before, body .texture-background::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    right: 0;
    background: #f7f4f0;
    opacity: 0.95;
    z-index: 102; }

@media only screen and (min-height: 768px) and (min-width: 768px) {
  body > main section article, body > main section aside, .divider {
    padding: 26px 0; } }
@media only screen and (min-height: 768px) and (min-width: 1040px) {
  body > main section article, body > main section aside, .divider {
    padding: 52px 0; } }

p, h1, main ul, ol, dl {
  margin: 0 0 9px; }
  @media only screen and (min-width: 768px) {
    p, h1, main ul, ol, dl {
      margin: 0 0 13px; } }

input[type='submit'], input[type='button'], a.button, input[type=submit], input[type=button], a, a h1, h1 a, a h2, h2 a, a h3, h3 a, a h4, h4 a, a h5, h5 a, a h6, h6 a {
  display: inline-block;
  padding-bottom: 0.2px;
  border-bottom-width: 1px;
  border-color: transparent;
  border-bottom-style: solid;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s; }

input[type='submit']:hover, input[type='button']:hover, a.button:hover, input[type=submit]:hover, input[type=button]:hover, a:hover, input[type='submit'] a:active, input[type='button'] a:active, a.button a:active, input[type=submit] a:active, input[type=button] a:active, a a:active, a:hover h1, a:active h1, h1 a:hover, h1 a:active, a:hover h2, a:active h2, h2 a:hover, h2 a:active, a:hover h3, a:active h3, h3 a:hover, h3 a:active, a:hover h4, a:active h4, h4 a:hover, h4 a:active, a:hover h5, a:active h5, h5 a:hover, h5 a:active, a:hover h6, a:active h6, h6 a:hover, h6 a:active {
  border-color: #64999F; }

input[type='submit'], input[type='button'], a.button, input[type=submit], input[type=button], a {
  cursor: pointer;
  padding-bottom: 1px;
  color: #64999F;
  text-decoration: none; }
  input[type='submit']:hover, input[type='button']:hover, input[type=submit]:hover, input[type=button]:hover, a:hover, input[type='submit'] a:active, input[type='button'] a:active, input[type=submit] a:active, input[type=button] a:active, a a:active {
    color: #64999F; }

input[type='submit'], input[type='button'], a.button, input[type=submit], input[type=button] {
  font-size: 120%;
  background-color: transparent;
  margin-top: 13px;
  text-transform: uppercase;
  padding: 0.5em 0.7em;
  font-weight: 400;
  border: 2px solid #64999F;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }

article, body > main section.has-sidebar aside, .divider {
  max-width: 39em;
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 144%; }

h1, h2, h3, h4, h5, h6 {
  line-height: 144%; }
  a h1, h1 a, a h2, h2 a, a h3, h3 a, a h4, h4 a, a h5, h5 a, a h6, h6 a {
    color: #37333d;
    padding-bottom: 1px; }
  a:hover h1, a:active h1, h1 a:hover, h1 a:active, a:hover h2, a:active h2, h2 a:hover, h2 a:active, a:hover h3, a:active h3, h3 a:hover, h3 a:active, a:hover h4, a:active h4, h4 a:hover, h4 a:active, a:hover h5, a:active h5, h5 a:hover, h5 a:active, a:hover h6, a:active h6, h6 a:hover, h6 a:active {
    color: #64999F; }

h3, h4, h5, h6 {
  margin: 0; }

h2, h4 {
  color: #45414c;
  font-style: italic;
  font-family: "Crimson Text", serif;
  font-weight: 400; }

h1, h3, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 140%;
  text-transform: uppercase;
  color: #64999F; }
  @media only screen and (min-width: 620px) {
    h1 {
      font-size: 160%; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 180%; } }
  @media only screen and (min-width: 960px) {
    h1 {
      font-size: 200%; } }
  @media only screen and (min-width: 1040px) {
    h1 {
      font-size: 220%; } }
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 240%; } }

h2 {
  font-size: 160%; }
  @media only screen and (min-width: 620px) {
    h2 {
      font-size: 180%; } }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 200%; } }

h3 {
  font-size: 120%;
  text-transform: uppercase;
  color: #64999F; }
  @media only screen and (min-width: 620px) {
    h3 {
      font-size: 130%; } }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 140%; } }

h4 {
  font-size: 120%;
  margin-bottom: 0 !important; }
  @media only screen and (min-width: 620px) {
    h4 {
      font-size: 130%; } }
  @media only screen and (min-width: 768px) {
    h4 {
      font-size: 140%; } }

h5 {
  font-size: 100%;
  text-transform: uppercase; }

h6 {
  color: #45414c;
  font-size: 100%; }

em {
  font-style: italic; }

strong {
  font-weight: 400; }

small {
  font-size: 80%; }

#menu a {
  color: #f7f4f0;
  padding: 0.5px 3px;
  display: inline-block;
  letter-spacing: 0.03em; }
aside li a {
  display: inline; }
.socialmedia_links a {
  border: none; }

.screen-reader {
  position: fixed;
  left: -3000px;
  width: 0; }

/**
* Elements
**/
/* images */
@media only screen and (min-width: 768px) {
  img.aligncenter {
    display: block;
    margin: 0 auto; } }
@media only screen and (max-width: 620px) {
  img.aligncenter {
    display: block;
    max-width: 100%;
    margin: 15px auto; } }
@media only screen and (min-width: 768px) {
  img.alignright {
    float: right;
    margin: 12px 0 12px 24px; } }
@media only screen and (max-width: 620px) {
  img.alignright {
    display: block;
    max-width: 100%;
    margin: 15px auto; } }
@media only screen and (min-width: 768px) {
  img.alignleft {
    float: left;
    margin: 12px 24px 12px 0; } }
@media only screen and (max-width: 620px) {
  img.alignleft {
    display: block;
    max-width: 100%;
    margin: 15px auto; } }

/* tables */
table {
  margin-bottom: 26px; }
  table tr, table thead, table tbody, table tfoot {
    border-bottom: 1px solid #64999F;
    width: 100%; }
    table tr th, table tr td, table thead th, table thead td, table tbody th, table tbody td, table tfoot th, table tfoot td {
      text-align: left;
      line-height: 1.8em;
      padding: 0.38em 1.32em 0.38em 0.62em; }
  table thead {
    font-weight: 400; }
  table tfoot {
    font-size: 80%; }

/* lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul {
  padding-top: 18px; }

main ul, ol, dl {
  position: relative;
  padding-left: 45px; }
  nav main ul, nav ol, nav dl {
    margin: 0; }
  li main ul, li ol, li dl {
    margin-bottom: 0; }

li {
  padding-bottom: 5px; }
  ul li::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f111 ";
    font-size: 50%;
    left: 26.25px;
    color: #64999F;
    vertical-align: middle; }
  nav ul li:before, footer ul li:before {
    content: ''; }
  ol > li {
    text-indent: 0.2em;
    list-style-type: decimal; }
    ol > li li {
      list-style-type: lower-roman; }
  nav li {
    list-style-type: none; }
    nav li::before {
      content: ''; }
  li li {
    text-indent: 0.7em; }
    footer li li {
      text-indent: 0; }

dl {
  overflow: hidden; }
  dl dt {
    clear: both;
    float: left;
    display: block;
    font-size: 130%;
    line-height: 100%;
    margin-right: 0.3em;
    font-style: italic;
    font-family: "Crimson Text", serif;
    font-weight: 400; }
    dl dt::after {
      content: ': '; }
    dl dt p {
      margin: 0; }
  dl dd {
    float: left; }
    dl dd p {
      margin: 0; }

.simcal-calendar ul li:before, .qtip ul li:before {
  content: ""; }

/* form elements */
textarea, input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="number"], input[type="url"], input[type="button"], input[type="submit"] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

textarea, input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"], select {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: 1px solid #64999F;
  line-height: 1.8em;
  padding: 0.38em 0.62em;
  margin-bottom: 0.6em; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"] {
  text-indent: 4px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: none !important; }

textarea {
  display: block;
  padding: 0.3em 0;
  margin-top: 0.3em;
  height: 9em;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1%; }

.select {
  font-size: 100%;
  position: relative;
  margin: 1em 0 1.6em;
  display: inline-block; }
  .select select {
    outline: none;
    -webkit-appearance: none;
    display: block;
    transition: border-color 0.2s;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    border: 1px solid #64999F;
    border-radius: 0;
    line-height: 1.8em;
    background: #fff;
    padding: 0.38em 3em 0.3em 0.62em; }
  .select .arr {
    top: 2px;
    right: 7px;
    bottom: 2px;
    width: 26px;
    background: #fff;
    position: absolute;
    pointer-events: none; }
    .select .arr:before {
      top: 50%;
      content: '';
      right: 0.38em;
      margin-top: -5px;
      position: absolute;
      pointer-events: none;
      border-top: 7px solid #64999F;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; }
    .select .arr:after {
      top: 50%;
      right: 20px;
      content: '';
      margin-top: -5px;
      position: absolute;
      pointer-events: none;
      border-top: 3px solid #fff;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent; }

/* figures */
blockquote {
  margin-left: 1em;
  padding-left: 1.6em;
  position: relative;
  border-left: solid 3px #64999F; }
  blockquote::before {
    content: ' ';
    top: 0;
    left: -1em;
    width: 1.6em;
    height: 1.8em;
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #f7f4f0;
    background-image: url(images/quote.svg); }
  figure blockquote {
    display: block; }

q {
  font-size: 130%;
  font-style: italic;
  font-family: "Crimson Text", serif;
  font-weight: 400; }

figure {
  position: relative;
  display: inline-block;
  margin: 26px 0; }
  figure figcaption {
    top: 0.26em;
    left: 3.5em;
    position: relative;
    font-size: 80%; }

mark {
  background: #c2edef; }

article {
  padding: 0 15px; }
  article header {
    margin-bottom: 26px; }
  article footer {
    margin-top: 26px; }

sup {
  font-size: 60%;
  vertical-align: super; }

sub {
  font-size: 60%;
  vertical-align: sub; }

hr {
  border-top: 1px solid #64999F;
  margin: 26px 0; }

.breadcrumbs {
  padding: 10px; }

body {
  background: #f7f4f0; }
  body > header nav {
    height: 3em;
    font-size: 100%;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; }
    body > header nav a {
      border-width: 0.3em; }
      body > header nav a:hover, body > header nav a:active {
        color: #66bfbf; }
        body > header nav a:hover svg path, body > header nav a:active svg path {
          fill: #66bfbf; }
      body > header nav a.home-link {
        width: 40px;
        float: left;
        height: 2.5em;
        margin-right: 0;
        padding-top: 0.2em;
        display: inline-block; }
        body > header nav a.home-link svg {
          float: left;
          height: 100%; }
        body > header nav a.home-link:hover {
          border-color: transparent; }
      body > header nav a.mobile-nav {
        float: right;
        border: 1px solid;
        margin-top: 0.6em;
        padding: 0.2em 0.6em; }
    body > header nav ul {
      display: block;
      clear: left; }
      body > header nav ul li {
        overflow: hidden;
        text-align: right;
        vertical-align: top;
        letter-spacing: 0.06em;
        text-transform: uppercase; }
        body > header nav ul li a {
          float: right;
          height: 2em;
          padding-top: 0.7em; }
    body > header nav.open {
      height: 32em; }
    @media only screen and (min-width: 1160px) {
      body > header nav a.home-link {
        width: 36px; }
      body > header nav a.mobile-nav {
        display: none; }
      body > header nav ul {
        font-size: 80%;
        margin-left: 10px;
        clear: none;
        display: inline-block; }
        body > header nav ul li {
          display: inline-block;
          margin-left: 1.38em;
          padding: 5px; }
          body > header nav ul li a {
            height: 2.2em; } }
    @media only screen and (min-width: 1420px) {
      body > header nav ul {
        font-size: 100%; }
        body > header nav ul li {
          padding: 0; }
          body > header nav ul li a {
            height: 2em; } }
  body > footer {
    padding: 26px 15px 104px; }
    body > footer h6 {
      font-weight: bold;
      margin-bottom: 15px; }
    body > footer ul li {
      margin-top: 15px; }
      body > footer ul li h6 {
        margin: 0 15px;
        line-height: 2em; }
      body > footer ul li li {
        margin: 0 15px; }
    @media only screen and (min-width: 768px) {
      body > footer ul li {
        width: 50%;
        float: left;
        display: block; }
        body > footer ul li li {
          width: 100%; } }
    @media only screen and (min-width: 1200px) {
      body > footer ul li {
        width: 25%; } }
    body > footer .home-link {
      height: 0;
      width: 420px;
      left: 15px;
      bottom: 26px;
      padding-bottom: 41.6px;
      position: absolute;
      margin-right: 0; }
      body > footer .home-link a {
        width: 100%;
        height: 100%;
        border: none;
        left: 15px;
        top: 0;
        position: absolute;
        display: inline-block; }
        body > footer .home-link a svg {
          height: 100%;
          width: auto;
          margin-right: 1%; }
      body > footer .home-link:hover {
        border-color: transparent; }
  body > main {
    width: 100%; }
    body > main section {
      padding: 26px 0; }
      body > main section.has-sidebar aside {
        padding-left: 15px;
        padding-right: 15px; }
      @media only screen and (min-width: 768px) {
        body > main section.has-sidebar article {
          width: 64%;
          float: right;
          margin-right: 5%; }
        body > main section.has-sidebar aside {
          padding-left: 0;
          padding-right: 0;
          float: left;
          width: 22%;
          margin-left: 5%; }
          body > main section.has-sidebar aside li {
            margin: 0.3em 0; } }
      @media only screen and (min-width: 960px) {
        body > main section.has-sidebar article {
          margin-right: 8%;
          width: 61%; }
        body > main section.has-sidebar aside {
          margin-left: 8%;
          width: 18%; } }
      @media only screen and (min-width: 1040px) {
        body > main section.has-sidebar article {
          margin-right: 10%;
          width: 59%; }
        body > main section.has-sidebar aside {
          margin-left: 10%;
          width: 16%; } }
      @media only screen and (min-width: 1200px) {
        body > main section.has-sidebar article {
          margin-right: 15%; }
        body > main section.has-sidebar aside {
          margin-left: 10%;
          width: 16%; } }
      @media only screen and (min-width: 1500px) {
        body > main section.has-sidebar article {
          margin-right: 15%; }
        body > main section.has-sidebar aside {
          margin-left: 10%;
          width: 22%; } }
  body .hero {
    height: 60vh;
    min-height: 400px;
    text-align: center;
    background-image: url(images/intro-background.jpg); }
    body .hero::before {
      background: #45414c;
      opacity: 0.85;
      border-bottom: 5vh solid #c2edef; }
    body .hero .intro {
      height: 85%;
      z-index: 103;
      margin-top: 5%;
      position: relative; }
      body .hero .intro .branding {
        height: 50%;
        width: 100%;
        color: #f7f4f0; }
        body .hero .intro .branding svg {
          width: 100%;
          height: 80%;
          opacity: 0.9; }
          body .hero .intro .branding svg path {
            fill: #c2edef; }
          body .hero .intro .branding svg#sscy {
            height: 30%;
            position: relative;
            top: -1em; }
      body .hero .intro h2 {
        color: #f7f4f0; }
        @media only screen and (min-width: 768px) {
          body .hero .intro h2 {
            font-size: 180%; } }
        @media only screen and (min-width: 1040px) {
          body .hero .intro h2 {
            font-size: 240%; } }
      body .hero .intro .button {
        color: #f7f4f0;
        border-color: #f7f4f0; }
        body .hero .intro .button:hover {
          border-color: #c2edef;
          background-color: #c2edef;
          color: #45414c; }
        @media only screen and (min-width: 768px) {
          body .hero .intro .button {
            border-width: 3px;
            margin-top: 26px; } }
        @media only screen and (min-width: 1200px) {
          body .hero .intro .button {
            margin-top: 78px; } }
        @media only screen and (min-width: 1200px) {
          body .hero .intro .button {
            margin-top: 78px; } }
  body .gradient-background article {
    background: rgba(255, 255, 255, 0.9);
    padding: 2em 3em; }
  body .texture-background article {
    position: relative;
    z-index: 103; }
  body .texture-background aside {
    position: relative;
    z-index: 104; }
  body .dark-background h6 {
    color: #f7f4f0; }
  body .alt-background .branding, body .dark-background .branding, body .bright-background .branding, body .alt-background-2 .branding {
    color: #f7f4f0; }
    body .alt-background .branding svg path, body .dark-background .branding svg path, body .bright-background .branding svg path, body .alt-background-2 .branding svg path {
      fill: #f7f4f0; }
  body .alt-color .branding {
    color: #8b84a0; }
    body .alt-color .branding svg path {
      fill: #8b84a0; }
  body .alt-color-2 .branding {
    color: #db8f5d; }
    body .alt-color-2 .branding svg path {
      fill: #db8f5d; }
  body .logo-bar {
    height: 9vw;
    margin-top: 2vw;
    max-height: 4em; }
    body .logo-bar .branding {
      height: 100%; }
      body .logo-bar .branding svg#sscy {
        margin-left: 2%; }
    footer body .logo-bar {
      max-height: 20px;
      margin: 0;
      padding: 0; }
  body .logo-box {
    width: 100%;
    font-size: 100%;
    margin: 0 auto 26px; }
    body .logo-box .branding {
      height: 0;
      width: 100%;
      margin: 0 auto;
      max-width: 26em;
      position: relative;
      text-align: center;
      padding-bottom: 36%; }
      body .logo-box .branding svg#lotus {
        top: 6%;
        left: 0;
        width: 100%;
        height: 62%;
        position: absolute; }
      body .logo-box .branding svg#sscy {
        width: 100%;
        height: 30%;
        position: relative;
        top: 60%; }
    @media only screen and (min-width: 420px) {
      body .logo-box {
        font-size: 120%; } }
    @media only screen and (min-width: 500px) {
      body .logo-box {
        font-size: 160%; } }
    @media only screen and (min-width: 620px) {
      body .logo-box {
        font-size: 180%; } }
    @media only screen and (min-width: 768px) {
      body .logo-box {
        font-size: 200%; } }
  body .branding {
    display: block;
    overflow: hidden;
    color: #64999F; }
    body .branding svg {
      float: left;
      width: auto;
      height: 100%;
      display: block; }
      body .branding svg path {
        fill: #64999F; }
  body a.branding {
    border: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    body a.branding svg path {
      -webkit-transition: fill 0.3s;
      -moz-transition: fill 0.3s;
      -ms-transition: fill 0.3s;
      -o-transition: fill 0.3s;
      transition: fill 0.3s; }
    body a.branding:hover, body a.branding:active {
      color: #66bfbf; }
      body a.branding:hover svg path, body a.branding:active svg path {
        fill: #66bfbf; }

.sscy-spaced {
  clear: both; }

.breadcrumb {
  padding: 15px; }

.divider {
  height: 26px;
  position: relative; }
  .divider::before {
    left: 0;
    right: 0;
    top: 49%;
    width: 100%;
    height: 3px;
    content: ' ';
    z-index: 333;
    position: absolute;
    background-color: #64999F; }
  .divider svg {
    width: 100%;
    height: 100%;
    z-index: 334;
    position: relative; }
    .divider svg rect {
      fill: #f7f4f0; }
    .divider svg path {
      fill: #64999F; }

.blog .loop article {
  padding-top: 0;
  overflow: hidden;
  margin-bottom: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid #64999F; }
  .blog .loop article:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .blog .loop article .post-thumbnail {
    width: 30%;
    float: left;
    display: block;
    margin-right: 4%;
    border: none;
    padding: 0;
    position: relative; }
    .blog .loop article .post-thumbnail img {
      height: auto;
      width: 100%;
      display: inline-block; }
    .blog .loop article .post-thumbnail::after {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.85;
      z-index: 100;
      border-bottom: 3vh solid #c2edef;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
    .blog .loop article .post-thumbnail:hover {
      /*&::after {
        content: 'Click to read the article';
        border-width: 100px;
        background: transparent;
      }*/ }
    .blog .loop article .post-thumbnail .video-wrapper {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 0;
      z-index: 101;
      padding-bottom: 74.2%; }
      .blog .loop article .post-thumbnail .video-wrapper iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
  .blog .loop article p {
    margin: 0 0 26px;
    padding-left: 34%; }
  .blog .loop article header {
    margin-bottom: 0; }
  .blog .loop article footer {
    margin-top: 0;
    font-size: 80%;
    text-transform: uppercase; }
.blog header h3 a {
  display: inline !important; }

.socialmedia_links {
  padding: 15px;
  margin-bottom: 26px; }
  .socialmedia_links li {
    width: auto;
    margin: 0 3px 0 0;
    display: inline-block; }
    .socialmedia_links li::before {
      content: none; }
    .socialmedia_links li a {
      font-size: 1.6em;
      height: auto;
      padding: 3px; }
  article .socialmedia_links {
    padding-top: 1em;
    padding-left: 0; }
    article .socialmedia_links li a {
      font-size: 2.6em;
      margin-right: 9px; }

a.button:hover, a.button a:active, input[type=submit]:hover, input[type=submit] a:active, input[type=button]:hover, input[type=button] a:active {
  color: #f7f4f0;
  background-color: #64999F; }

/*# sourceMappingURL=style.css.map */
