.u-spacer {
  position: relative; 
  display: block;
  width: 100%;
  height: 50px;
}

.u-larger-text {
  font-size: 1.2em;
}

.u-bottom-space {
  margin-bottom: 20px!important;
}

.u-half {
  float: left;
  width: 45%;
  
  &:not(:last-child){
    margin-right: 40px;
  }
}

.u-text-right { text-align: right!important; }
.u-text-left { text-align: left!important; }
.u-text-center { text-align: center!important; }

.u-float-right {float: right!important; }
.u-float-left { float: left!important; }

.u-tiny-text {
  font-size: 12px;
}

.u-text-indent {
  text-indent: 15px;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-admin-only {
  display: none;
}

.signin__collect {
  width: 70vw;
}

a.colored {
  color: $accent-color!important;
  text-decoration: underline;
}