table {
    width: 100%;

    th {
        font-weight: bold;
        text-align: left;
    }

    td, th {
        padding: 15px;
    }

    tbody tr:nth-child(odd) {
        background-color:#e9e6e3;
    }

    tfoot {
        background-color: #575350;
        color: #ffffff;
    }
}

.button {
    background: transparent;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.5em 0.7em;
    border: 2px solid #64999F;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
    color: #64999F;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background-color: #64999F;
        color: #f7f4f0;
    }
}

#profile_links {
    position: absolute;
    right: 20px;
    top: 12px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.input-text, .input-textarea, .input-select {
    font-size: 16px;
    color: #575350;
    padding: 10px 15px;
    background-color: transparent;
    width: 100%;
}

.input-textarea {
    border: 1px solid #ccc9c6
}

.input-text {
    border: none;
    border-bottom: 1px solid #ccc9c6
}

.input-text-inline {
    font-size: 16px;
    color: #575350;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc9c6
}

.input-text-label {
    padding: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #b3aba4;
}

.input-textarea-label, .input-select-label {
    font-weight: 500;
    color: #b3aba4;
}

.profile-photo {
    position: relative;
    width: 150px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .profile-photo-hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $accent-color;
        cursor: pointer;

        .profile-photo-text {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    &:hover .profile-photo-hover {
        opacity: 1;
    }
}

.registration-checkbox {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

#registration .input-text {
    width: 90%;
}

hr {
    margin: 40px 0;
}

#registration, #report {
    display: none;
}

.template {
    display: none;
}

.checkedin {
    cursor: pointer;
    color: #64999F;
    padding: 5px;
    display: inline-block;
}

.modal-overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);

    .modal-content {
        width: 50vw;
        max-height: 80vh;
        overflow: scroll;
        @include absCenter;
        background-color: $white;
        border: 1px solid $black;

        .modal-content-body, .modal-content-buttons {
            padding: 25px;
        }

        .row {
            width: 80%;
            transform: translateX(-5px);
        }
    }
}

main {
    padding-top: 30px;
}