body {
  background: $white;

  & > header {
    @extend %wrapper-full;
    nav {
      height: 3em;
      font-size: 100%;
      overflow: hidden;
      @include transition(height 0.3s);
      a {
        border-width: 0.3em;
        &:hover, &:active {
          color: $accent-high;
          svg path { fill: $accent-high; }
        }
        &.home-link {
          width: 40px;
          float: left;
          height: 2.5em;
          margin-right:0;
          padding-top: 0.2em;
          display: inline-block;
          svg {
            float: left;
            height: 100%;
          }
          &:hover { border-color: transparent;}
        }
        &.mobile-nav {
          float: right;
          border: 1px solid;
          margin-top: 0.6em;
          padding: 0.2em 0.6em;
        }
      }
      &.open { height: 32em; }
      @media only screen and (min-width : 1160px) {
        a.home-link { width: 36px; }
        a.mobile-nav { display: none; }
      }      
      @media only screen and (min-width : 1420px) {

      }
    }
  }

  & > footer {
    @extend %wrapper-full;
    padding: $vertical-spacing $gutter $vertical-spacing*4;
    h6 { font-weight: bold; margin-bottom: $gutter; }
    .home-link {
      height:0;
      width: 420px;
      left: $gutter;
      bottom: $baseline;
      padding-bottom: $baseline*1.6;
      position: absolute;
      margin-right:0;
      a {
        width: 100%;
        height: 100%;
        border: none;
        left:15px;
        top: 0;
        position: absolute;
        display: inline-block;
        svg {
          height: 100%;
          width: auto;
          margin-right: 1%;
        }
      }
      &:hover { border-color: transparent;}
    }
  }

  & > main {
    width: 100%;
    section {
      @extend %wrapper-fixed;
      padding: $vertical-spacing 0;
      article, aside { @extend %article-padding; }
      &.has-sidebar {
        aside {  @extend %body-of-text;  padding-left: $gutter; padding-right: $gutter; }
        @media only screen and (min-width : $tablet-width)  {
          article { 
            width: 64%;
            float: right;
            margin-right: 5%;
          }
          article.post-preview {
            //width: auto;  // Removed temporarily
            padding: 40px 0;
          }
          aside {
            padding-left: 0;
            padding-right: 0;
            float: left;
            width: 22%;
            margin-left: 5%;
            li { margin: 0.3em 0; }
          }
        }
        @media only screen and (min-width : $med-width)  {
          article { margin-right: 8%; width: 61%; }
          aside { margin-left: 8%; width: 18%; }
        }
        @media only screen and (min-width : $lrg-width)  {
          article { margin-right: 10%; width: 59%; }
          aside { margin-left: 10%; width: 16%; }
        }
        @media only screen and (min-width : $max-width)  {
          article { margin-right: 15%;  }
          aside { margin-left: 10%; width: 16%; }
        }
        @media only screen and (min-width : $ultra-width)  {
          article { margin-right: 15%; }
          aside { margin-left: 10%; width: 22%; }
        }
      }
    }
  }

  .hero {
    @extend %texture-background;
    height:60vh;
    min-height: 400px;
    text-align: center;
    background-image: url(images/intro-background.jpg);

    .hero__navigation {
      opacity: 0;
      position: absolute;
      bottom: 4em;
      left: 50%;
      transform: translateX(-50%);
      z-index: 200;
      font-size: .7em;

      a, a:link {
        border: none;
        transition: all .2s;

        &:not(last-child){
          margin-right: 15px;
        }

      }

      a:hover, a.active {
        color: $white;
      }
    }

    &::before {
      background: $accent-dark;
      opacity: 0.85;
      border-bottom: 5vh solid $accent-light;
    }
    .intro {
      z-index: 103;
      margin-top: 5%;
      position: relative;
      .branding {
        height: 50%;
        width: 100%;
        color:$white;
        svg {
          width: 100%;
          height: 80%;
          opacity: 0.9;
          path { fill: $accent-light; }
          &#sscy {
            height: 30%;
            position: relative;
            top: -1em;
          }
        }
      }
      h2 {
        color:$white;
        //color: $black;
        @media only screen and (min-width : $tablet-width)  {
          font-size: 180%;
        }
        @media only screen and (min-width : $lrg-width)  {
          font-size: 240%;
        }
      }
      .button {
        color:$white;
        border-color:$white;
        &:hover { border-color: $accent-light; background-color:  $accent-light; color: $accent-dark; }
        @media only screen and (min-width : $tablet-width)  {
          border-width: 3px;
          margin-top: $baseline;
        }
        @media only screen and (min-width : $max-width)  {
          margin-top: 3*$baseline;
        }
        @media only screen and (min-width : $max-width)  {
          margin-top: 3*$baseline;
        }
      }
    }
  }

  .alt-color {
    @extend %alt-color;
  }
  .alt-color-2 {
    @extend %alt-color-2;
  }
  .bright-background {
    @extend %bright-background;
  }
  .gradient-background {
    @extend %gradient-background;
    article {
      background: rgba(255,255,255,0.9);
      padding: 2em 3em;
    }
  }
  .soft-background {
    @extend %soft-background;
  }
  .texture-background {
    @extend %texture-background;
    article { position: relative; z-index: 103; }
    aside { position: relative; z-index: 104; }
  }
  .alt-background {
    @extend %alt-background;
  }
  .alt-background-2 {
    @extend %alt-background-2;
  }
  .dark-background {
    @extend %dark-background;
  }

  .dark-background {
    h6 { color: $white; }
  }

  .alt-background, .dark-background, .bright-background, .alt-background-2 {
    .branding {
      color: $white;
      svg path { fill: $white; }
    }
  }

  .alt-color {
    .branding {
      color: $secondary-color;
      svg path { fill: $secondary-color; }
    }
  }
  .alt-color-2 {
    .branding {
      color: $secondary-color-2;
      svg path { fill: $secondary-color-2; }
    }
  }

  .logo-bar {
    height: 9vw;
    margin-top: 2vw;
    max-height: 4em;
    .branding {
      height: 100%;
      svg#sscy { margin-left: 2%; }
    }
    footer & {
      max-height: 20px;
      margin: 0;
      padding: 0;
    }
  }
  .logo-box {
    width: 100%;
    font-size: 100%;
    margin: 0 auto $vertical-spacing;
    .branding {
      height: 0;
      width: 100%;
      margin: 0 auto;
      max-width: 26em;
      position: relative;
      text-align: center;
      padding-bottom: 36%;
      svg#lotus {
        top: 6%;
        left:0;
        width: 100%;
        height: 62%;
        position: absolute;
      }
      svg#sscy {
        width: 100%;
        height: 30%;
        position: relative;
        top:60%;
      }
    }
    @media only screen and (min-width : 420px)  {
      font-size: 120%;
    }
    @media only screen and (min-width : 500px)  {
      font-size: 160%;
    }
    @media only screen and (min-width : 620px)  {
      font-size: 180%;
    }
    @media only screen and (min-width : 768px)  {
      font-size: 200%;
    }
  }

  .branding {
    opacity: 0;
    transition: all 2s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*overflow: hidden;*/
    color: $accent-color;
    z-index: 100;

    &__logo {
      height: 200px;
    }

    @media only screen and (max-width : 768px)  {
      &__logo {
        height: 140px;
      }
    }

    &.active {
      opacity: 1;
      z-index: 300;
    }

    svg {
      float: left;
      width: auto;
      height: 100%;
      display: block;
      path { fill: $accent-color; }
    }
  }

  a.branding  {
    border: none;
    @include transition(color 0.3s);
    svg path { @include transition(fill 0.3s); }
    &:hover, &:active {
      color: $accent-high;
      svg path { fill: $accent-high; }
    }
  }
}

.sscy-spaced {
	clear: both;
}

.breadcrumb {
	padding: $gutter;
}

.divider {
  @extend %body-of-text;
  @extend %article-padding;
  height: $baseline;
  position: relative;
  &::before {
    left: 0;
    right: 0;
    top: 49%;
    width: 100%;
    height: 3px;
    content: ' ';
    z-index: 333;
    position: absolute;
    background-color: $accent-color;
  }
  svg {
    width: 100%;
    height: 100%;
    z-index: 334;
    position: relative;
    rect { fill: $white; }
    path { fill: $accent-color; }
  }
}

.blog {
  .loop {
    article {
      padding-top:0;
      overflow: hidden;
      margin-bottom: $baseline;
      padding-bottom: $baseline;
      border-bottom: 1px solid $accent-color;
      &:last-child { border-bottom: none; margin-bottom: 0; }
      .post-thumbnail {
        width: 30%;
        float: left;
        display: block;
        margin-right: 4%;
        border: none;
        padding: 0;
        position: relative;
        img {
          height: auto;
          width: 100%;
          display: inline-block;
        }
        &::after {
          content: ' ';
          position: absolute;
          left:0; bottom: 0; right: 0;
          background: rgba(255,255,255,0.1);
          opacity: 0.85;
          z-index: 100;
          border-bottom: 3vh solid $accent-light;
          @include transition(all 0.1s);
        }
        &:hover {
          /*&::after {
            content: 'Click to read the article';
            border-width: 100px;
            background: transparent;
          }*/
        }
        .video-wrapper {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 0;
          z-index: 101;
          padding-bottom: 74.2%;
          iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
          }
        }
      }
      p {
        margin: 0 0 $baseline;
        padding-left: 34%;
      }
      header {
        margin-bottom: 0;
      }
      footer {
        margin-top: 0;
        font-size: $small-size;
        text-transform: uppercase;
      }
    }
  }
  header {
    h3 a { display: inline!important; }
  }
}

.socialmedia_links {
  padding: $gutter;
  margin-bottom: $baseline;
  li {
    width: auto;
    margin: 0 3px 0 0;
    display: inline-block;
    &::before {
      content: none;
    }
    a {
      font-size: 1.6em;
      height: auto;
      padding: 3px;
    }
  }
  article & {
    padding-top: 1em;
    padding-left: 0;
    //@media only screen and (min-width : $lrg-width)  {
      li a { font-size: 2.6em; margin-right: 9px }
    //}
  }
}

a.button, input[type=submit], input[type=button] {
  @extend %button;
  &:hover, a:active { color: $white; background-color:  $accent-color; }
}



/**** ADDED BY JESSE BURTON (BURTON MEDIA) ****/

aside#sidebar-categories {
  float: none;
}

#sidebar-signup-container {
  position: absolute;
  max-width: 300px!important;
}

/**** MIND BODY ****/
.healcode-description-area {
  font-size: 1.3em;
  line-height: 1.3em;
}

