.class {

    background-color: $gradient-color-1!important;
    border: 1px solid $gradient-color-2;
    padding: 40px 50px;
    margin-bottom: 40px;

    strong {
        font-weight: 600px!important;
        font-style: italic;
        font-family: 'Pacifico', cursive;
    }

    &__dates {
        font-style: italic;
        padding: 10px 0;
    }

    &__description {
        color: $accent-color;
    }

    &__schedule {
        margin-top: 20px;
        color: $accent-dark;
        font-style: italic;

        strong {
            font-family: "Roboto",sans-serif!important;
            font-style: normal;
        }
    }

    &__exceptions {
        padding: 10px 0 0 0;

        .class__exception--message {
            position: relative;
            padding: .75rem 1.25rem;
            margin: 1rem 0;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
    }

}

// Exception Manager

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
    overflow-y: hidden;

    &.open {
        opacity: 0.7;
    }
}

.no-scroll {
    max-height: 100vh;
    overflow-y: hidden;
}

/* 
    REBUILD - the notification system to work better 
    Adjust the name of exception to be exception__form to follow BEM
*/

.exceptions, .class__form-container {
    @include modal;
}

.exception-cancelled, .alert--cancelled {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.exception-room_teacher_change, .alert--warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.exception-notice, .alert--notice {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.exception__header {
    background-color: $gradient-color-1!important;
    border: 1px solid $gradient-color-2;
    padding: 40px 50px;
    text-align: center;

    & h3 {
        margin: 20px 0;
    }
}