.class {

    margin-bottom: 40px;

    strong {
        font-weight: 600px!important;
        font-style: italic;
        font-family: 'Pacifico', cursive;
    }

    &__schedule {
        margin-top: 20px;
    }

    &__exceptions {
        padding: 20px 0;

        .class__exception--message {
            position: relative;
            padding: .75rem 1.25rem;
            margin: 1rem 0;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
    }

}

// Exception Manager
.exceptions {
    // High z-index to cover signin button
    z-index: 10000;

    @include dropShadow;
    position: absolute;
    padding: 20px;
    width: 50%;
    background-color: $white;
    border-top: 1px solid $accent-light;
    border-left: 1px solid $accent-light;
    border-bottom: 1px solid $accent-light;
    top: 20px;
    left: 100%;
    width: 50%;
    transition: left .4s;

    &.open {
        left: 50%;
    }

    h5 {
        font-weight: 500;
        font-family: $display-font;
    }
}

.exception-cancelled {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.exception-room_teacher_change {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.exception-notice {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
